<div id="post_content">
  <h1 class="title"><%= scrivito_tag(:h1, @obj, :title) %></h1>
  <p class="date"><%= scrivito_tag(:div, @obj, :created) %></p>
  <p class="date"><%= scrivito_tag(:div, @obj, :author) %></p>
  <p class="body"><%= scrivito_tag(:div, @obj, :body) %></p>


